<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../static/css/animate.min.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/global.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/common.css"/>
		<!--<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>-->
		<script src="../static/js/zepto.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/zepto.fullpage.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/common.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<audio id="music2" src="../static/img/BGM.mp3"  autoplay="autoplay" loop="loop">你的浏览器不支持audio标签。</audio>    
		
		<div class="wp">
			<a href="javascript:playPause();"><img src="../static/img/music.png" width="48" height="50" id="music_btn2" border="0"></a>  
			<div class="container wp-inner">
				<div class="page page8 share">
					<img src="../static/img/6-2.png" class="animated  page6-2"/>
					<div class="animated  page6-1"/>
						<div class="progress"></div>
					</div>
					<img src=" ../static/img/8-2.png" class="animated  page6-3"/>
					<img src="../static/img/8-1.png" class="animated  page8-btn"/>
					<div class='page5-bg'></div>
					<img src="../static/img/6-4.png" class="animated  page6-5"/>
					<img src="../static/img/7-2.png" class="animated  page6-6"/>					
				</div>					
		</div>
		
		<script src="../static/js/js.fullpage.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			document.getElementsByClassName('wp-inner')[0].fullpage();
			var _hmt = _hmt || [];
			(function() {
			  var hm = document.createElement("script");
			  hm.src = "//hm.baidu.com/hm.js?9497d4a818baa09c9a35223ecc9e2559";
			  var s = document.getElementsByTagName("script")[0]; 
			  s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</body>
</html>
